@using Blazored.LocalStorage
@using ECommerceApp.Components.Banner
@using ECommerceApp.Components.Products
@using ECommerceApp.Components.Templates
@using Microsoft.AspNetCore.Components.Authorization
@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider

@inject ILocalStorageService localStorage

<PageTitle>Home Page</PageTitle>
<Banner />
<p>Token: @token</p>
<SuggestedProduct />
<HomePageTemplate />

@code {
    private string token;

    protected override async Task OnInitializedAsync()
    {
        token = await localStorage.GetItemAsync<string>("authToken");
    }
}