@page "/breadcrumb"

<PageTitle>Shop Now!</PageTitle>
<div class="hero" style="height: 200px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>@string.Join(" / ", BreadcrumbPath)</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<string> BreadcrumbPath { get; set; } = new List<string>();
}
